<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {{>navbar}}
    <div class="outerForm">
        <div class="leftForm">
            <div class="symbol">
                <i class="fa-solid fa-users-line fa-beat fa-2xl" style="color: #f3f4f7;"></i>
            </div>
            <div class="header">
                <p>Welcome!!!</p>
            </div>
        </div>
        <div class="form">
        <form action="/adduser" method="post">
            <div>
                <div class="fName">
                    <input type="text" name="fName" id="fName" placeholder="First Name">
                </div>
                <div class="lName">
                    <input type="text" name="lName" id="lName" placeholder="Last Name">
            </div>
            </div>
            <div>
                <div class="email">
                <input type="email" name="email" id="email" placeholder="Your Email">
            </div>
            <div class="gender">
                
                <input type="radio" name="gender" id="male" value="male">
                <label for="male">male</label>
                
                <input type="radio" name="gender" id="female" value="female">
                <label for="female">female</label>
            </div>
            </div>
            <div>
                <div class="phone">
                <input type="text" name="phone" id="phone" placeholder="Your Phone">
            </div>
            <div class="dob">
                <input type="date" name="dob" id="dob">
            </div>
            </div>
            <div>
                <div class="age">
                <input type="number" name="age" id="age" placeholder="Your Age">
            </div>
            <div class="adhar">
                <input type="text" name="adhar" id="adhar" placeholder="Your Adhar">
            </div>
            </div>
            <div>
                <div class="pass1">
                <input type="password" name="pass1" id="pass1" placeholder="Enter password">
            </div>
            <div class="pass2">
                <input type="password" name="pass2" id="pass2" placeholder="Confirm password">
            </div>
            </div>
            <div class="btn">
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
    </div>
</body>
</html>