<link rel="stylesheet" href="../css/style.css" />

<div class="navBar">
  <div class="left">
    <div class="myName">
      <a href="">Radhakrushna Technical</a>
    </div>
  </div>
  <div class="right">
    <div class="home">
      <a href="/">Home</a>
    </div>
    <div class="signup">
      <a href="/signup">SignUp</a>
    </div>
    <div class="signin">
      <a href="/signin">SignIn</a>
    </div>
  </div>
</div>