<style>
  .header { display: flex; flex-direction: row; background-color: rgb(248, 111,
  111); border-radius: 20px;} .header div { margin: 50px; } div a {
  text-decoration: none; color: aliceblue;}
</style>

<div class="header">
  <div class="home">
    <a href="/">Home</a>
  </div>
  <div class="about">
    <a href="/about">about</a>
  </div>
  <div class="contact">
    <a href="/contact">contact</a>
  </div>
  <div class="services">
    <a href="/services">services</a>
  </div>
  <div class="user">
    {{user}}
  </div>
</div>