<style>
  .bottom { background-color: rgb(56, 158, 247); color: aliceblue; padding:
  20px; margin-top: auto; text-align: center; }
</style>
<div class="bottom">
  <p>&copy;Radhakrushna Mahadik 2024</p>
</div>