<style>
  .header { display: flex; flex-direction: column; justify-content: center;
  align-items: center; background-color: rgb(56, 158, 247); color: aliceblue; }
</style>

<div class="header">
  <h1>RK temprature information</h1>
  <p>We deliever the temprature in the city you want</p>
</div>