<style>
  .middle { background-color: rgb(56, 158, 247); color: aliceblue; padding:
  50px; margin: 10px 0; height: 70vh;} .middle p { font-size: 50px; }
</style>
<div class="middle">
  <p>The temperature of the {{city}} is {{temp}}&deg;C</p>
</div>