.box {
  width: 40%;
  margin: 50px auto;
  background-color: rgb(244, 204, 152);
  border: 1px solid black;
  border-radius: 30px 0px;
  padding: 20px;
}

h1 {
  color: brown;
  text-align: center;
  font-family: cursive;
  font-size: 50px;
}

p {
  text-align: justify;
}
