<style>
  .middle { display: flex; flex-direction: row; flex-wrap: wrap; border-radius:
  20px; background-color: #2b7f8e; margin: 10px 0; color: aliceblue;}
</style>

<div class="middle">
  <h1>This is the {{itemName}} page</h1>
</div>