<div class="form">
  <form action="/user" method="post">
    <div class="name">
      <label for="eName">Full Name : </label>
      <input
        type="text"
        name="eName"
        id="eName"
        placeholder="Enter your name"
        required
      />
    </div>
    <div class="dob">
      <label for="dob">Select the date of Birth</label>
      <input type="date" name="dob" id="dob" />
    </div>
    <div class="email">
      <label for="email">Enter email</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email address"
      />
    </div>

    <div class="pass1">
      <label for="pass1">Enter your password</label>
      <input
        type="password"
        name="pass1"
        id="pass1"
        placeholder="Enter your password"
      />
    </div>
    <div class="pass2">
      <label for="pass2">Confirm your password</label>
      <input
        type="password"
        name="pass2"
        id="pass2"
        placeholder="Confirm your password"
      />
    </div>
    <div class="btn">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>